body {
    background-image: url(./assets/home/background-home-desktop.jpg);
}

header {
    color: #FFFFFF;
    margin-bottom: 1000px;
    /* position: relative; */
} 

.headerBorder {   
    /* rectangle */
    position: absolute;
    width: 830px;
    height: 96px;
    left: 610px;
    top: 40px;

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
}

.headerMenu {
    position: absolute;
    width: 542px;
    height: 19px;
    left: 733px;
    top: 79px;
}

.headerItem {
    /* text formatting */
    color: #FFFFFF;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
}

.copy { 
    color: #FFFFFF;
    font-family: 'Barlow', sans-serif;

    margin: 100px;
}

.accentText {
    background-color: white;
    border: solid 1px white;
    border-radius: 100%;
    color: black;
    font-family: 'Bellefair', serif;
    font-size: 2.5rem;
    height: 274px;
    width: 274px;
    position: absolute;
}

#boldWord {
    font-family: 'Bellefair', serif;
    font-size: 2.5rem;

}