// Handles the layout and styling of all text in index.html
$mobile: 50px;
$tablet: 768px;
$desktop: 1024px;

@mixin textHome() {
   .copyBox {
    position: absolute;
    left: 6.4vw;
    top: 17vh;

    color: #ffffff;
    text-align: center;
   } 

   .introText {
    position: absolute;

    text-align: center;

    line-height: 3vh;
    font-family: 'Barlow Condensed', 'sans-serif';
    font-style: normal;
    font-size: 2rem;
   } 
   
   .buzzWord {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
   }
}

@include textHome();