// Handles the layout and styling of all text in index.html
$mobile: 50px;
$tablet: 768px;
$desktop: 1024px;

// .spacer {
//     height: 17vh;
// }

@mixin textHome() {

    .middleDiv {
        margin-top: 17%;
    }

   .copyBox {
        text-align: center;
        color: #ffffff;
   } 

   .introText {
        line-height: 3vh;
        font-family: 'Barlow Condensed', 'sans-serif';
        font-style: normal;
        font-size: 2rem;

         margin-bottom: 5vh;
   } 
   
   .buzzWord {
        font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        font-size: 5rem;

        margin-bottom: 5vh;
   }

   .copyText {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 2rem;    

        margin-left: 5vw;
        margin-right: 5vw;
   }

   .accentTextOrb {
        background-color: #ffffff;
        height: 150px;
        width: 150px;
        border-radius: 100%;

        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
   }

   .accentText {
    font-family: 'Bellefair', 'Sans-Serif';
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;

    text-align: center;
    padding-top: calc(75px - 0.65rem);

   }
}

@include textHome();