// reconstruction for testing purposes.
$tiny: 50px;
$small: 593px;
$mobile: 767px;
$tablet: 768px;
$desktop: 1024px;
$ultrawide: 1674px;

@mixin bgHome {

    body {
        background-image: url(../../assets/home/background-home-mobile.jpg);

        @media screen and (min-width: $tiny) and (max-width: $small) {
            background-size: auto 100vh;         
        }
        @media screen and (min-width: $small) {
            background-size: 100vw auto;
        }
        
        @media screen and (min-width: $tablet) {
            background-image: url(../../assets/home/background-home-tablet.jpg);
            background-size: 100vw auto;
        }
        
        @media screen and (min-width: $desktop) {
            background-image: url(../../assets/home/background-home-desktop.jpg);
            background-size: auto 100vh;
        }

        @media screen and (min-width: $ultrawide) {
            background-image: url(../../assets/home/background-home-desktop.jpg);
            background-size: 100vw auto;
        }
    }

}

@include bgHome();