// for testing purposes

$mobile: 767px;
$tablet: 768px;

@mixin hamburger-menu() {
    .hamburger-menu {
        font-size: 50px;
        padding: 4px;
        width: 1em;
        height: 1em;

        position: absolute;
        right: 6.4vw;
        top: 4vh;
        z-index: 10;

        div {
            width: 1em;
            height: 0.2em;
            background-color: white;
            margin-bottom: .2em;

            transition: all 0.3s ease-out;
        }

        &.open {
            .one {
                transform: translateY(0.4em) rotate(45deg);
            }

            .two {
                opacity: 0;
            }

            .three {
                transform: translateY(-0.4em) rotate(-45deg);
            }
        }
        @media screen and (min-width: $tablet) {
            display: none;
        }
    }
}

@include hamburger-menu()