// handles the navbar toggle animations and stylings per breakpoint.
$mobile: 50px;
$tablet: 768px;
$desktop: 1024px;


@mixin navMenu() {

    .headerLogo {
        position: absolute;
        top: 24px;
        left: 24px;
    }

    .headerBorder {
        width: 67vw;
        height: 105vh;
        position: absolute;
        top: 0;
        right: -10px;

        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);

        transform-origin: top right;
        transform: rotate(-90deg);
        transition: all 0.5s ease-out;

        &.show {
            transform: rotate(0deg);
        }
    }

    .headerMenu {
        margin-top: 20vh;
        margin-left: 10vw;
    }

    .headerItem {
        color: #ffffff;
        font-family: 'Barlow Condensed', 'sans-serif';
        font-size: 2rem;
        font-weight: 400;

        text-decoration: none;
        
        display: block;
        margin-bottom: 5vh;
    }

    .headerItemNum {
        font-weight: 700;
    }

    @media screen and (min-width: $mobile) {
        .headerLogo {
            transform: scale(40px);
        }
    }

    @media screen and (min-width: $tablet) {
        .headerLogo {
            left: 39px;
        }
    }

    @media screen and (min-width: $desktop) {
        .headerLogo {
            left: 55px;
            top: 65px;
        }
    }
}

@include navMenu();